* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-container {
  border: 1px solid black;
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 15px;
}

img {
  width: 150px;
  height: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-male {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-female {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text {
  font-size: 1.2rem;
  margin: 1rem;
  font-weight: bold;
  font-style: oblique;
}

.name-text {
  font-weight: bold;
  font-style: oblique;
}

.popup-container {
  background-color: black;
  color: beige;
  padding: 20px;
  font-weight: bold;
  font-style: oblique;
}

#popbtn {
  background-color: rgb(214, 205, 205);
  padding: 2px;
  width: 100px;
  border-radius: 10px;
  font-weight: bold;
  font-style: oblique;
}
